schedule==1.1.0
asyncio==3.4.3
aioconsole==0.4.1
aioreactive==0.15.0
apscheduler==3.9.1
pynput==1.7.6

pyglet==1.5.23
xknx==0.19.2

bs4==0.0.1
lxml==4.8.0
numpy==1.22.3
clarify==9.1.12332

pytest==7.1.1
pytest-asyncio==0.18.2
pytest-mock==3.7.0
pytest-cov==3.0.0
